*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /* font-size: clamp(43.75%, 62.5% + ((100vw - 320px) / (1920 - 320)) * (81.25 - 43.75), 81.25%); */
}
body {
    font-size: 1.6rem;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-size-adjust: 100%;
}

header {
    width: 100%;
    margin: 0;
    background-color: #f1f1f1;
    z-index: 1;
    height: auto;
}

.toggler-container {
    padding: 1rem 0;
    display: none;
}

.toggler-container img {
    display: flex;
    max-width: 6rem;
    max-height: 6rem;
}

.header-top {
    background-color: #F4EFDA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.123);
}

.header-top img {
    width: 10rem;
    height: 10rem;
}

.header-top input {
    height: 2.5rem;
    width: 25rem;
    border-radius: 0.5rem;
    background-color: #F4EFDA;
    border: 0.1rem solid #bbb6a4;
    position: relative;
} 

.search-logo input {
    position: relative;
}

.search-logo img {
    position: absolute;
    top: 4.6rem;
    right: 5.5rem;
    width: 1.8rem;
    height: 1.8rem;
}

nav {
    position: relative;
    z-index: 1 ;
    background-color: #F4EFDA;
    margin-top: 3rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem 1rem 5rem;
    box-shadow: 1px 15px 17px -9px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 15px 17px -9px rgba(0,0,0,1);
    -moz-box-shadow: 1px 15px 17px -9px rgba(0,0,0,1);
}

.menu-logo a {
    text-decoration: none;
    font-size: 2rem;
    margin-right: 3rem;
    color: #222;
    font-weight: 600;
    cursor: pointer;
}

main {
    width: 100%;
    height: auto;
    margin: 0 auto 10rem;
}

.search-logo-responsive {
    display: none;
}

.hero {
    width: 100%;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.hero a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #016072;
    color: #f1f1f1;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.705);
    font-weight: 700;
    z-index: 1;
}

.hero .btn-rdv-responsive {
    display: none;
}

.presentation h2::after, .services h2::after {
    content: "";
    height: 0.2rem;
    width: 29%;
    position: absolute;
    top: 75%;
    background-color: #222;
}

.presentation, .services {
    width: 80%;
    margin: 4rem auto;
}

.presentation h2, .services h2 {
    margin-bottom: 2rem;
    font-size: 3.2rem;
    position: relative;
    color: #222;
}

.presentation p {
    font-size: 1.8rem;
    line-height: 1.4;
    text-align:start;
    color: #222;
}

.box-cards {
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

.box-cards ul {
    list-style-type: none;
    border: 0.5rem solid #B6902F;
    width: 100%;
    padding: 0.5rem;
    color: #222;
}

.box-cards ul img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.box-cards li:nth-child(2) {
    padding: 1rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 500;
}

.box-cards li:nth-child(3) {
    margin-top: 3rem;
    text-align: end;
    margin-bottom: 0.4rem;
}

.box-cards a {
    text-decoration: none;
    font-size: 2rem;
    background-color: #016072;
    color: #f1f1f1;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
}

footer {
    padding: 0; 
    width: 100%;
    height: auto;
    background-color:#F4EFDA;
    position: relative;
    bottom: 0;
    left: 0;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    margin: 0 auto;
    width: 80%;
    height: 15rem;
    color: #222;
}

.main-footer .logo {
    width: 10rem;
    height: 10rem;
}

.navigation li, .condition li, .logo-rs li {
    list-style-type: none;
    padding-bottom: 0.5em;
}

.navigation li a, .condition li a, .logo-rs li a {
    text-decoration: none;
    color:#222;
    font-size: 1.6rem;
}
.navigation li a:hover, .condition li a:hover, .logo-rs li a:hover {
    color:#B6902F
}

.copyright {
    text-align: center;
    width: auto;
    padding: 0.5rem;
    background-color: #016072;
    color: #f1f1f1;
    font-size: 1.8rem;
}


@media (max-width: 320px) {
    html {
        font-size: 43.75%;
    }
}


@media (max-width: 580px) {
    html {
        font-size: 50%; 
    }


    .header-top {
        background-color: #F4EFDA;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.123);
    }

    .hero .btn-rdv {
        display: none;
    }

    button img {
        width: 50px;
        height: 50px;
    }
    button {
        position: fixed;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #016072;
        border: none;
        bottom: 3%;
        right: 5%;
    }

    button::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #016072;
        border: none;
        top: 0;
        left: 0;
        z-index: -1;
        animation: pulse 1.2s infinite ease-out;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.4);
            opacity: 0;
        }
    }

    .presentation, .services {
        width: 90%;
        margin: 2rem auto;
    }

    .presentation h2, .services h2 {
        font-size: 4rem;
    }

    .presentation p {
        font-size: 2.2rem;
        line-height: 1.6;
    }
    
    .toggler-container {
        padding: 1rem;
        display: block;
    }
    
    .box-cards {
        display: flex
    }
    
    .search-logo {
        display: none;
    }
    
    .search-logo-responsive {
        display: block;
        position: relative;
        padding: 0.5rem;
        background-color:  #bbb6a4;
    }
    
    .search-logo-responsive input {
        width: 100%;
        height: 6rem;
        padding: 1rem;
        font-size: 2rem;
        border: 2px solid #F4EFDA;
        border-radius: 5px;
        color: #222;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }

    input[type="search"] {
        background-color: #bbb6a4;
        outline: none;
    }

    .box-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 1.5rem;
    }
    
    .box-cards ul {
        list-style-type: none;
        border: 0.5rem solid #B6902F;
        width: 100%;
        padding: 0.5rem;
        color: #222;
    }
    
    .box-cards ul img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .box-cards li:nth-child(2) {
        padding: 1rem;
        text-align: center;
        font-size: 2.2rem;
        line-height: 1.4;
        font-weight: 400;
    }
    
    .box-cards li:nth-child(3) {
        margin-top: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .box-cards a {
        text-decoration: none;
        font-size: 4rem;
        background-color: #016072;
        color: #f1f1f1;
        font-weight: 500;
        width: 50%;
        padding: 0 5rem;
    }
    
    .logo-rs {
        display: none;
    }
    
    nav {
        display: none;
    }
    
    .search-logo img {
        display: none;
    }
    
    footer {
        padding: 0; 
        width: 100%;
        height: auto;
        background-color:#F4EFDA;
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0;
    }

    .main-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 5rem;
    }
    
    .main-footer .logo {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
    }

    .main-footer, img, .navigation, .condition {
        text-align: center;
    }
    
    .navigation li, .condition li, .logo-rs li {
        line-height: 1;
    }

    .navigation li a {
        font-size: 2.5rem;
        font-weight: 400;
    }

    .condition li a {
        font-size: 2.5rem;
        font-weight: 400;
    }

    .logo-rs li a {
        font-size: 2.5rem;
        font-weight: 400;
    }

    .logo-rs a img {
        width: 6rem;
        height: auto;
    }

    .logo-rs a:not(:last-child) {
        margin-right: 4rem;
    }

    .logo-rs li:first-child {
        margin-bottom: 2rem;
    }
    .logo-rs {
        display: block;
        margin: 0;
    }
}


@media (min-width: 581px) and (max-width: 768px) {
    html {
        font-size: 56.25%;
        width: 100%;
    }

    .header-top {
        background-color: #F4EFDA;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.123);
    }

    .search-logo-responsive {
        display: block;
        position: relative;
        /* padding: 0.5rem; */
        background-color:  #bbb6a4;
    }
    
    .search-logo-responsive input {
        width: 100%;
        height: 6rem;
        padding: 1rem;
        font-size: 2rem;
        border: 2px solid #F4EFDA;
        border-radius: 5px;
        color: #222;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }

    input[type="search"] {
        background-color: #bbb6a4;
        outline: none;
    }

    .hero .btn-rdv {
        display: none;
    }

    button img {
        width: 50px;
        height: 50px;
    }
    button {
        position: fixed;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #016072;
        border: none;
        bottom: 3%;
        right: 5%;
    }

    button::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #016072;
        border: none;
        top: 0;
        left: 0;
        z-index: -1;
        animation: pulse 1.2s infinite ease-out;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.4);
            opacity: 0;
        }
    }

    .presentation, .services {
        width: 90%;
        margin: 2rem auto;
    }
    
    .toggler-container {
        padding: 1rem;
        display: block;
    }
    
    .box-cards {
        display: block
    }

    .search-logo {
        display: none;
    }

    .search-logo-responsive {
        display: block;
        position: relative;
        padding: 0.5rem;
    }
    
    .search-logo-responsive input {
        width: 100%;
        height: 6rem;
        padding: 1rem;
        font-size: 2rem;
        border: 2px solid #F4EFDA;
        border-radius: 5px;
        color: #222;
    }

    .box-cards ul {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    
    .box-cards li:nth-child(1) {
        display: flex;
        width: 40%;
        height: auto;
    }
    
    .box-cards li:nth-child(2) {
        width: 40%;
        text-align: center;
        align-content: center;
        font-size: 1.7rem;
        line-height: 1.4;
        font-weight: 500;
        padding: 0 1rem;
    }
    
    .box-cards li:nth-child(3) {
        display: flex;
        justify-content: space-between;
        align-items:end;
        margin: 0;
        width: auto;
        height: auto;
    }
    
    .logo-rs {
        display: none;
    }
    
    nav {
        display: none;
    }
    
    .search-logo img {
        display: none;
    }

    .main-footer {
        width: 90%;
    }


}


@media (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 62.5%; 
    }

    button {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    html {
        font-size: 68.75%; 
    }
    button {
        display: none;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    html {
        font-size: 75%;
    }

    button {
        display: none;
    }
}

@media (min-width: 1441px) {
    html {
        font-size: 81.25%; 
    }

    button {
        display: none;
    }
}